.example-card {
    width: 400px;
     max-width: 800px;
}
.example-full-width{
    width: 300px;
}
.container{
    text-align: center;
    width: 1240px;
    height: 460px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 10%;
    background-image:url("https://cdn.dribbble.com/userupload/4288379/file/original-1f692d0c07a45adcd2bf52917238fb46.png?compress=1&resize=1200x675");
    background-size: cover;

}
.login-signup-child{
    display: inline-block;
}

  
  