.container{
    background-color: #d0bdf4;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    
}
.home-content-container{
    margin-left: 500px;
    width: 100vw;
    min-height: 100vh;
}
.quote-container{
    background-color:  #e5eaf5;
    max-width: 400px;
    width: 400px;
    width: 100%;
    text-align: left;
    padding-right: 30px;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 7%;
    margin: 20px;
}
.quote-like{
    display: inline-block;  
    width: 20px;
    position: relative;
    margin-top: 5%;
    cursor: pointer;
}
.quote-content{
    margin: 10px;
    margin-left: 10%;
}